* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.logo {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* SECTIONS */
section {
    padding: 80px 50px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #38bdf8;
}

/* SKILLS */
.skill {
    max-width: 500px;
    margin: 15px auto;
    text-align: left;
}

.progress {
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;
}

.progress div {
    height: 10px;
    background: #38bdf8;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

/* CONTACT */
.contact a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.contact a:hover {
    text-decoration: underline;
    color: white;
}

/* FOOTER */
footer {
    padding: 20px;
    background: #020617;
    text-align: center;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}
